.imgHeader{
  height: 15vh;
  margin-bottom: 2vh;
  width: 100vw;
  border-image-repeat: none;
  object-fit: cover;
  object-position: center;
  border-bottom: 1px solid black;
  background-image: url("/Images/PadelHeader.jpg")
}

#navHeader{
  margin-top: 1vh;
}




