<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PadelApp.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/icon" href="~/images/faviconPadel.ico" />
</head>
<body>
    <header class="imgHeader">

      <a class="navbar-brand" asp-area="" asp-controller="Public" asp-action="Index">
        <img src="/Images/PadelLogo.png" alt="PadelApp Logo" style="height: 50px;">
        </a>

    <nav id="navHeader" style="z-index: 1;" class="navbar navbar-light  mb-3">
    <div class="container-fluid">
        
        
        
        <div class="navbar d-sm-inline-flex justify-content-between w-100">
            <ul class="navbar-nav d-flex flex-row align-items-center">
                
                <li class="nav-item">
                    <a class="btn btn-primary me-2" asp-area="" asp-controller="Public" asp-action="Index">Start</a>
                </li>

                
                <li class="nav-item">
                    <a class="btn btn-primary me-2" asp-area="" asp-controller="Public" asp-action="Booking">Boka</a>
                </li>
            </ul>
            
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>  

    </header>
       



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - PadelApp
        </div>

        

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
