@{
    Layout = "/Views/Shared/_Layout.cshtml";  
}



    <partial name="/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml"/>
    <div class="container">
        @RenderBody()  
    </div>

    @await RenderSectionAsync("Scripts", required: false)
