@{
    Layout = "/Views/Shared/_Layout.cshtml";  
}



    @Html.Partial("/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml")

    <div class="container">
        @RenderBody()  
    </div>

    @await RenderSectionAsync("Scripts", required: false)
