@page
@model PadelApp.Areas.Identity.Pages.Account.Manage.IndexModel

@{
    
}

<form method="post">
    <div class="form-group">
        <label for="BookingTime">Booking Time</label>
       
        <input type="datetime-local" class="form-control" asp-for="PadelBooking.BookingTime" value="@ViewData["BookingTime"]" />
        
    </div>
    
    <div class="form-group">
        <label for="CourtId">Select Court</label>
        
       <select asp-for="PadelBooking.CourtId" class="form-control" asp-items="@(ViewData["CourtId"] as SelectList)"></select>
        
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<a href="@Url.Page("./Index")">Tillbaka till bokningslistan</a>