@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
