@page
@model IndexModel
@{
    Layout = "/Views/Shared/_ManageLayout.cshtml";
    ViewData["Title"] = "Bokade tider";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h1>@ViewData["Title"]</h1>
<div class="row">
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
