@model PadelserviceApp.Models.PadelBooking

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera bokning</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Datum/tid
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingTime)
        </dd>
        <dt class = "col-sm-2">
            Bana
        </dt>
        <dd class = "col-sm-10">
             @if (Model.Court != null){
                <span>@Model.Court.CourtName</span>
            }
            else
            {
                <span class="text-muted">Bana hittas ej</span>
            }
        </dd>
        <dt class = "col-sm-2">
            Användare
        </dt>
        <dd class = "col-sm-10">
              @if (Model.User != null)
            {
                <span>@Model.User.Email</span>
            }
            else
            {
                <span class="text-muted">Användare hittas ej</span>
            }
            
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BookingId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
