@model PadelserviceApp.Models.PadelBooking

@{
    ViewData["Title"] = "Ändra bokning";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
           
            <input type="hidden" asp-for="BookingId" />

            <div class="form-group">
                <label asp-for="BookingTime" class="control-label"></label>
                <input asp-for="BookingTime" class="form-control">
                <span asp-validation-for="BookingTime" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <label asp-for="CourtId" class="control-label"></label>
                <select asp-for="CourtId" class="form-control" asp-items="@(ViewData["CourtId"] as SelectList)"></select>
                <span asp-validation-for="CourtId" class="text-danger"></span>
            </div>

           
            <input type="hidden" asp-for="UserId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" >

           
            <div class="form-group" style="margin-top: 2vh;">
                <input type="submit" value="Spara" class="btn btn-success" >
            </div>
        </form>
    </div>
</div>