@model List<PadelserviceApp.Models.PadelCourt>

@{
    ViewData["Title"] = "Lediga Banor";
    var oneDate = ViewData["oneDate"] as DateTime?;
    var errorMedd = TempData["ErrorMedd"] as string;
}

<h1>@ViewData["Title"]</h1>


@if (!string.IsNullOrEmpty(errorMedd)){
    <div class="alert alert-danger">
        @errorMedd
    </div>
}

<!-- Datum-->
<form method="get">
    <label for="oneDate">Välj datum:</label>
    <input type="date" id="oneDate" name="date" value="@oneDate?.ToString("yyyy-MM-dd")" >
    <button type="submit" class="btn btn-primary">Sök</button>
</form>


@if (oneDate.HasValue){ //om ett datum valts

@if (Model.Any()) //tillgängliga banor det datumet
{
    //tabell över alla banor
    <table class="table">
        <thead>
            <tr>
                <th>Banans Namn</th>
                <th>Typ</th>
                <th>Lediga tider</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var court in Model){<!--Loopa genom all banor-->
                <tr>
                    <td>@court.CourtName</td>
                    <td>@court.CourtType</td>
                    <td>
                       
                        <a asp-action="AvailableTimes" asp-route-courtId="@court.CourtId" asp-route-date="@oneDate?.ToString("yyyy-MM-dd")" class="btn btn-primary">
                            Lediga tider
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Inga lediga banor hittades för det valda datumet.</p>
}
}