
@{
    ViewData["Title"] = "PadelApp"; //title
}

<!-- Bara för att ha nått på startsidan :) -->

<div style="z-index: 0;" class="card mb-3">
  <img src="/Images/PadelNytt1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">PadelApp</h5>
    <p class="card-text">Välkommen till vår nya sida för vår padelhall och precis som förut gäller det fortfarande att det viktigaste av allt är ... Det är helt gratis!</p>
    <p class="card-text"> Hoppas ni bokar in några tider och kommer på besök<p/>
    
  </div>
</div>


