@model IEnumerable<PadelserviceApp.Models.PadelCourt>

@{
    ViewData["Title"] = "Banor";
}

<h1>Lägg till bana</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Lägg till bana</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Banans namn
            </th>
            <th>
               Banans typ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourtName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourtType)
            </td>
            <td>
                 <form asp-action="Delete" asp-route-id="@item.CourtId" method="post">
                    <button type="submit" class="btn btn-danger">Radera</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
